.items-container {
    display: flex;
    margin-bottom: 0.8rem;
    transition-duration: 1.5s;
}

.items-div {
    background-color: rgb(89, 164, 250);
    border-radius: 10px;
    display: flex;
    padding: 0.3rem;
    width: 1840px;
}

.items-container:hover {
    opacity: 1;
}