.delete-btn {
    margin-left: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    color: #e20e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
}

.delete-btn:hover {
    background-color: #e20e0e;
    color: white;
}