.items-list-container {
    display: flex;
    flex-direction: column;
}

.items-list-header {
    display: flex;
    align-items: center;
}

.info-dropdown-btn {
    margin-left: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    color: #0e94e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
}

.info-dropdown-content {
    width: 100%;
    background-color: #f9f9f9;
    padding: 8px;
    border-style: dotted;
    border-color: #c2c2c2;
    border-radius: 0.5rem;
    border-width: 3px;
    margin-left: -0.55rem;
    margin-top: 1rem;
}

.info-dropdown-content p {
    margin: 0;
    padding: 4px 0;
}

.items-list-input {
    border-style: solid dotted dotted solid;
    border-color: rgb(121, 189, 252);
    border-radius: 0.3rem;
    text-align: center;
    transition: 0.4s ease-in-out;
    height: 2rem;
}

.items-list-input:focus,
.items-list-input:hover {
    outline: none;
    border-color: rgb(121, 189, 252);
    border-style: solid;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px #76b6ff;
    transition: 0.4s ease-in-out;
}

.items-list-input:hover::placeholder,
.items-list-input:focus::placeholder {
    color: rgb(2, 108, 207);
}