.delete-btn {
    margin-left: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    color: #e20e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
}

.delete-btn:hover {
    background-color: #e20e0e;
    color: white;
}

.items-list-input {
    border-style: solid dotted dotted solid;
    border-color: rgb(121, 189, 252);
    border-radius: 0.3rem;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.items-list-input:focus,
.items-list-input:hover {
    outline: none;
    border-color: rgb(121, 189, 252);
    border-style: solid;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px #76b6ff;
    transition: 0.4s ease-in-out;
}

.items-list-input:hover::placeholder,
.items-list-input:focus::placeholder {
    color: rgb(2, 108, 207);
}